div.check{
    /* margin:auto; */
    /* margin:20px; */
    /* padding:40px; */
    width: 100%;
    height:auto;

    text-align: center;
    background:white;
    margin:auto;


}
div.outer_check{
    display: flex;
}


div.check img{
    object-fit: cover;
    max-width: 20%;
    height:auto;
    display: block;
    margin:auto;
}
input.check_prods{
    max-width:2rem;
    -moz-appearance: textfield;
    text-align: center;
}