nav.main_navs{
    width:100%;
    height:auto;
    background:transparent
}
nav.main_navs ul.main_nav_uls{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-around;
    text-align: center;
}
nav.main_navs ul.main_nav_uls li{
    list-style-type: none;
    padding:10px;
}
nav.main_navs ul.main_nav_uls li:hover{
    color:brown;
    cursor:pointer;
}
li#main_lasts{
    display: flex;
    align-items: center;
}
